<div id="lobby">
    <div class="staging-panel">
        <h2>Lobby</h2>

        <span class="error" ng-bind="errorMessage"></span>
        Status: <span ng-bind="getStatusName(curStatus)"></span><br>

        <div ng-if="curStatus === status.UNAUTHENTICATED">
            <input type="text" placeholder="Name" ng-model="fields.username">
            <button ng-click="authenticate(fields.username)">Join Lobby</button>
        </div>

        <div ng-if="curStatus === status.READY">
            <!--Users: <span ng-repeat="user in activeRoom.getUsers() track by $index" ng-bind="user.getName() + ', '"></span><br>-->
            Active Room: <span ng-bind="activeRoom.getName()"></span> (<span ng-bind="activeRoom.getUsers().length"></span> users, synced <span ng-bind="activeRoom.syncTime"></span>)<br>
            User: <span ng-bind="user.getName()"></span> (<span ng-bind="getPing()"></span> ms) <br>

            <input type="text" ng-model="fields.matchLabel" placeholder="Match Name">
            <button ng-disabled="matches.length === 5" ng-click="createMatch(fields.matchLabel)">Create Match</button>

            <div class="match-list">
                <h4>Open Matches</h4>
                <select size="5"
                        title="Matches"
                        name="matchSelect"
                        ng-model="fields.selectedMatch"
                        ng-dblclick="joinMatch(fields.selectedMatch.getName())"
                        ng-options="match as match.getLabel() for match in matches track by match.getId()">
                    <option value="" disabled ng-show="matches.length === 0">No Matches</option>
                </select>
                <button ng-disabled="!fields.selectedMatch" ng-click="joinMatch(fields.selectedMatch.getName())">Join</button>
            </div>
        </div>

        <div ng-if="curStatus === status.STAGING">
            <staging-match match="activeRoom"></staging-match>
        </div>
    </div>
</div>