<div id="lobby">
    <span class="error" ng-bind="errorMessage"></span>

    <div ng-if="curStatus === status.UNAUTHENTICATED">
        <div class="ps-logo">
            <img src="assets/images/warp-icon.png" alt="Warp Logo">
            <h2>Warp</h2>
        </div>
        <input class="cp-text-input" type="text" placeholder="Name" ng-model="fields.username">
        <button class="cp-button cp-button-md" ng-click="authenticate(fields.username)">Join Lobby</button>
    </div>

    <div ng-if="curStatus === status.LOADING">
        Loading...
    </div>

    <div ng-if="curStatus === status.READY">
        <header>
            <div class="ps-logo">
                <img src="assets/images/warp-icon.png" alt="Warp Logo">
                <h2>Warp | Lobby</h2>
            </div>
        </header>

        <div class="staging-panel">
            <!--Users: <span ng-repeat="user in activeRoom.getUsers() track by $index" ng-bind="user.getName() + ', '"></span><br>-->
            <!--Active Room: <span ng-bind="activeRoom.getName()"></span> (<span ng-bind="activeRoom.getUsers().length"></span> users, synced <span ng-bind="activeRoom.syncTime"></span>)<br>-->

            <div class="user-status">
                <span ng-bind="user.getName()"></span> (<span ng-bind="getPing() || '--'"></span> ms) <br>
            </div>

            <input class="cp-text-input" type="text" ng-model="fields.matchLabel" placeholder="Match Name">
            <button class="cp-button cp-button-md" ng-disabled="matches.length === 5" ng-click="createMatch(fields.matchLabel)">Create Match</button>

            <div class="match-list">
                <h3>Open Matches</h3>

                <table>
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Song</td>
                        <td>User</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="matches.length === 0">
                        <td colspan="4">No Matches</td>
                    </tr>
                    <tr ng-repeat="match in matches track by match.getId()">
                        <td ng-bind="match.getLabel()"></td>
                        <td>--</td>
                        <td ng-bind="match.getUsers()[0].getName()"></td>
                        <td><button class="cp-button cp-button-md" ng-click="joinMatch(match.getName())">Join</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div ng-if="curStatus === status.STAGING">
        <header>
            <div class="ps-logo">
                <img src="assets/images/warp-icon.png" alt="Warp Logo">
                <h2>Warp</h2>
            </div>
        </header>

        <div class="staging-panel">
            <staging-match match="activeRoom"></staging-match>
        </div>
    </div>

    <pulsar-launcher></pulsar-launcher>
</div>