<div class="playlist cp-container">
    <ul>
        <li class="clearfix" ng-class="[clip.state, {playing: isPlaying(clip.id)}]" ng-repeat="clip in clipList" ng-click="playClip(clip)">
            <img class="source-icon" ng-src="{{clip.source.getIcon()}}" title="Source: {{clip.source.getName()}}" alt="{{clip.source.getName()}}">
            <span class="track-title"><span ng-bind="clip.name"></span></span>
            <loader-icon ng-if="clip.state === 'Buffering'"></loader-icon>
            <span class="track-length" ng-if="clip.getDuration()">{{ clip.getDuration() | secondsToDate | date:'m:ss' }}</span>
            <span class="track-info" ng-bind="clip.getInfo()"></span>
        </li>
    </ul>
</div>