<div class="staging-match">
    <div class="control-panel">
        <div ng-if="isHost()">
            <h3>Choose A Song</h3>
            <ps-media-widget queue="playQueue" avail-sources="['SoundCloud','Flare']" action-override="0"></ps-media-widget>
        </div>

        <div ng-if="!isHost()">
            <span>Host <b>{{ match.getHost().getName() }}</b> is choosing the song</span>
        </div>
    </div>

    <h3>
        <span ng-bind="match.getLabel()"></span>
        <span ng-if="match.hasStarted()">(In Progress)</span>
    </h3>

    <div class="song">
        <div ng-if="!match.getSong()">No Song Chosen</div>
        <div ng-bind="match.getSong().getName()"></div>
        <div ng-bind="match.getSong().getInfo()"></div>
        <span class="track-length" ng-if="match.getSong().getDuration()">{{ match.getSong().getDuration() | secondsToDate | date:'m:ss' }}</span>
    </div>

    <ul class="staging-match-user-list">
        <li ng-repeat="i in getMaxSize() track by $index">
            <span ng-bind="match.getUsers()[$index].getName()"></span>
            <span ng-if="isHost(match.getUsers()[$index]) && match.getUsers()[$index]">(Host)</span>
        </li>
    </ul>

    <button class="cp-button cp-button-md" ng-click="startMatch()" ng-disabled="!match.canStart() || !isHost()">Start Match</button>
    <button class="cp-button cp-button-md" ng-click="leaveMatch()">Leave Match</button>
</div>