<div class="staging-match">
    <h3>
        <span ng-bind="match.getLabel()"></span>
        <span ng-if="match.hasStarted()">(In Progress)</span>
    </h3>
    <ul class="staging-match-user-list">
        <li ng-repeat="i in getMaxSize() track by $index">
            <span ng-bind="match.getUsers()[$index].getName()"></span>
            <span ng-if="isHost(match.getUsers()[$index])">(Host)</span>
        </li>
    </ul>

    <button ng-click="startMatch()" ng-disabled="!match.canStart() || !isHost()">Start Match</button>
    <button ng-click="leaveMatch()">Leave Match</button>
</div>