.warp-header {
    background: #333;
    padding: .5em;
    margin: 0;
}

.warp-header .ps-logo {
    font-size: .5em;
    color: #fff;
}

.warp-header .ps-logo h2 {
    margin-left: 1rem;
}

#lobby .wrapper {
    padding-top: 3em;
    box-sizing: border-box;
}

#lobby,
.wrapper,
#game-wrapper,
#game-wrapper .warp-wrapper,
#game,
#game canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

#lobby .staging-match-user-list {
    padding: .3em;
}

#lobby .staging-match-user-list li {
    list-style: none;
    border: 1px #ccc solid;
    padding: .3em;
    height: 1.3em;
    margin-bottom: .3em;
}

#lobby .error {
    color: #c00;
}

#lobby .staging-panel,
#results .staging-panel {
    padding: 1em;
    height: 100%;
}

#lobby .match-list {
    width: 8em;
}

#lobby h3 {
    font-size: 1.3em;
    padding: .2em;
}

#lobby select {
    overflow: hidden;
    width: 100%;
}

#lobby select option {
    padding: .5em;
}

#lobby .match-list table {
    width: 30em;
}

#lobby .match-list thead td {
    background: #333;
    color: #eee;
    border-bottom: 1px #4488dd solid;
}

#lobby .match-list table td {
    padding: .3em;
}

.debug-stats {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    color: #fff;
    z-index: 1000;
}

.start-overlay {
    text-align: center;
    z-index: 100;
    font-size: 1.1em;
    padding: .5em;
    /* http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28148\%2C90\%2C199\%2C0\%29\%200\%25\%2C\%20rgba\%28130\%2C46\%2C199\%2C0\.84\%29\%2015\%25\%2C\%20rgba\%28129\%2C45\%2C199\%2C0\.9\%29\%2016\%25\%2C\%20rgba\%28104\%2C6\%2C196\%2C0\.9\%29\%2050\%25\%2C\%20rgba\%28147\%2C88\%2C199\%2C0\.9\%29\%2084\%25\%2C\%20rgba\%28148\%2C90\%2C199\%2C0\.84\%29\%2085\%25\%2C\%20rgba\%28148\%2C90\%2C199\%2C0\%29\%20100\%25\%29\%3B' */
    background: linear-gradient(to right,
    rgba(148,90,199,0) 0%,
    rgba(199, 48, 48, 0.84) 15%,
    rgba(199, 46, 46, 0.9) 16%,
    rgba(194, 8, 8, 0.9) 50%,
    rgba(199, 46, 46, 0.9) 84%,
    rgba(199, 48, 48, 0.84) 85%,
    rgba(148,90,199,0) 100%);
    color: #fff;
    border-top: 1px #222 solid;
    border-bottom: 1px #222 solid;
    box-shadow: 0 5px 5px -5px #fff, 0 -5px 5px -5px #fff;
    margin-bottom: 1em;
}

.match-players {
    font-size: 1.2em;
    font-style: italic;
}

.match-players span.name {
    font-weight: bold;
    font-style: normal;
}

.end-button {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 100;
}

.player-color {
    display: inline-block;
    box-sizing: border-box;
    height: .7em;
    width: .7em;
    vertical-align: middle;
    margin-right: .3em;
}

.staging-match .control-panel {
    padding: .5em;
    margin-right: 1em;
    min-height: 10em;
}

.staging-match .mw-search-icon {
    right: 4.2em;
}

#lobby .cp-button-md,
#results .cp-button-md {
    font-size: 1.2em;
}