#lobby header {
    background: #333;
    padding: .5em;
    margin: 0;
}

#lobby header .ps-logo {
    font-size: .5em;
    color: #fff;
}

#lobby header .ps-logo h2 {
    margin-left: 1rem;
}

#lobby .wrapper {
    padding-top: 3em;
    box-sizing: border-box;
}

#lobby,
.wrapper,
#game-wrapper,
#game-wrapper .warp-wrapper,
#game,
#game canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

#lobby .staging-match-user-list {
    padding: .3em;
}

#lobby .staging-match-user-list li {
    list-style: none;
    border: 1px #ccc solid;
    padding: .3em;
    height: 1.3em;
    margin-bottom: .3em;
}

#lobby .error {
    color: #c00;
}

#lobby .staging-panel {
    padding: 1em;
    height: 100%;
}

#lobby .match-list {
    width: 8em;
}

#lobby h3 {
    font-size: 1.3em;
    padding: .2em;
}

#lobby select {
    overflow: hidden;
    width: 100%;
}

#lobby select option {
    padding: .5em;
}

#lobby .match-list table {
    width: 30em;
}

#lobby .match-list thead td {
    background: #333;
    color: #eee;
    border-bottom: 1px #4488dd solid;
}

#lobby .match-list table td {
    padding: .3em;
}

.debug-stats {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    color: #fff;
    z-index: 1000;
}

.start-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25em;
    height: 10em;
    margin: -5em 0 0 -12.5em;
    text-align: center;
    z-index: 100;
}

.match-players {
    font-size: 1.2em;
    font-style: italic;
}

.match-players span.name {
    font-weight: bold;
    font-style: normal;
}

.end-button {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 100;
}

.player-color {
    display: inline-block;
    box-sizing: border-box;
    height: .7em;
    width: .7em;
    vertical-align: middle;
    margin-right: .3em;
}

.staging-match .control-panel {
    padding: .5em;
    margin-right: 1em;
    min-height: 10em;
}

.staging-match .mw-search-icon {
    right: 4.2em;
}

#lobby .cp-button-md {
    font-size: 1.2em;
}