.play-queue {
    position: relative;
    top: -.5em;
}

.pq-count {
    background: #eee;
    margin-left: .5em;
    display: inline-block;
    box-sizing: border-box;
    width: 1.4em;
    height: 1.4em;
    border-radius: .7em;
    color: #333;
    text-align: center;
    padding-top: .05em;
    font-size: .7em;
    vertical-align: middle;
    margin-bottom: .1em;
}

.play-queue ul {
    height: 10em;
    padding: 0;
}

.pq-seek {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    transition: all .3s;
    opacity: 0;
    font-size: .75em;
}

.play-queue:hover .pq-seek {
    display: block;
    opacity: 1;
    transition: all .3s;
}

.pq-seek-next {
    bottom: -.7em;
}

.pq-seek-prev {
    top: -1.25em;
}

.play-queue li.pq-message {
    border: 0;
    text-align: center;
    padding: 1em;
}

.play-queue li.pq-message:hover {
    background: transparent;
    cursor: default;
}