.debug-stats {
    position: fixed;
    top: 7em;
    left: 0;
    padding: 1em;
    color: #fff;
    z-index: 999;
}

.start-overlay {
    text-align: center;
    z-index: 100;
    font-size: 1.1em;
    padding: .5em;
    /* http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28148\%2C90\%2C199\%2C0\%29\%200\%25\%2C\%20rgba\%28130\%2C46\%2C199\%2C0\.84\%29\%2015\%25\%2C\%20rgba\%28129\%2C45\%2C199\%2C0\.9\%29\%2016\%25\%2C\%20rgba\%28104\%2C6\%2C196\%2C0\.9\%29\%2050\%25\%2C\%20rgba\%28147\%2C88\%2C199\%2C0\.9\%29\%2084\%25\%2C\%20rgba\%28148\%2C90\%2C199\%2C0\.84\%29\%2085\%25\%2C\%20rgba\%28148\%2C90\%2C199\%2C0\%29\%20100\%25\%29\%3B' */
    background: linear-gradient(to right,
    rgba(148,90,199,0) 0%,
    rgba(199, 48, 48, 0.84) 15%,
    rgba(199, 46, 46, 0.9) 16%,
    rgba(194, 8, 8, 0.9) 50%,
    rgba(199, 46, 46, 0.9) 84%,
    rgba(199, 48, 48, 0.84) 85%,
    rgba(148,90,199,0) 100%);
    color: #fff;
    border-top: 1px #222 solid;
    border-bottom: 1px #222 solid;
    box-shadow: 0 5px 5px -5px #fff, 0 -5px 5px -5px #fff;
    margin-bottom: 1em;
}

.match-players {
    font-size: 1.2em;
    font-style: italic;
}

.match-players span.name {
    font-weight: bold;
    font-style: normal;
}

.player-color {
    display: inline-block;
    box-sizing: border-box;
    height: 1.1em;
    width: 1.1em;
    vertical-align: middle;
    margin-right: .3em;
    border: 1px #333 solid;
    border-radius: .2em;
}

/* level status*/
.warp-wrapper .level-status {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 1000;
    color: #fff;
}

.warp-wrapper .level-status .score {
    font-size: 3em;
    font-weight: bold;
    top: 0;
}

/* game info */
.warp-wrapper .game-info {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 1000;
    background: rgba(255, 255, 255, .5);
    padding: 1em 0;
    color: #222;
    border-radius: 1em;
    overflow: hidden;
    width: 15em;
}

.warp-wrapper .game-info .menu-open {
    float: right;
    margin: -1.1em 0 0 .5em;
    border: 0;
    border-left: 1px #555 solid;
    background: #ddd;
    padding: .6em .6em;
}

.warp-wrapper .game-info .time {
    font-size: 1.1em;
    margin-left: .3em;
}

.warp-wrapper .game-info .player {
    font-size: 1.1em;
    padding: .3em;
    background: rgba(255, 255, 255, .3);
}

.warp-wrapper .game-info .player:first-child {
    font-weight: bold;
    border-top: 1px #555 solid;
    border-bottom: 1px #555 solid;
    clear: both;
}

/* song info */
.warp-wrapper .song-info {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 1000;
    color: #fff;
    text-shadow: 1px 0 1px #000;
    width: 35em;
}

.warp-wrapper .song-info .icon-wrapper {
    float: left;
    display: block;
    margin-right: .5em;
    text-decoration: none;
}

.warp-wrapper .song-info .source-icon {
    max-width: 2.2em;
    opacity: .75;
}

.warp-wrapper .song-info:hover .source-icon {
    opacity: 1;
}

.warp-wrapper .song-info .song-title {
    font-size: 1.5em;
}